<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.android.dsly.zxing"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- zxing -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>

    <application>
        <activity
            android:name=".test.ZxingMainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>
</manifest>