<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.dsly.web">

    <application>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:process=":web"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="com.android.dsly.web.base.WebConfiguration"
            android:value="ConfigModule" />
    </application>
</manifest>