<manifest package="com.android.dsly.materialdesign"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".activity.MaterialViewsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.Linkage2Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.Linkage1Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LinkageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.TabLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.DrawerLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MaterialDesignActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SearchViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CardViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ChipActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BottomSheetActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
